<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Creazione_gruppo</servlet-name>
        <servlet-class>Creazione_gruppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invito</servlet-name>
        <servlet-class>Invito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambia_titolo</servlet-name>
        <servlet-class>cambia_titolo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gruppi</servlet-name>
        <servlet-class>Gruppi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forum</servlet-name>
        <servlet-class>Forum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Genera_pdf</servlet-name>
        <servlet-class>Genera_pdf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Check_User</servlet-name>
        <servlet-class>Check_User</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Check_User</servlet-name>
        <url-pattern>/check_user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Welcome_page</servlet-name>
        <servlet-class>Welcome_page</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Welcome_page</servlet-name>
        <url-pattern>/welcome_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Creazione_gruppo</servlet-name>
        <url-pattern>/Creazione_gruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invito</servlet-name>
        <url-pattern>/Invito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambia_titolo</servlet-name>
        <url-pattern>/cambia_titolo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gruppi</servlet-name>
        <url-pattern>/Gruppi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forum</servlet-name>
        <url-pattern>/Forum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Genera_pdf</servlet-name>
        <url-pattern>/Genera_pdf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
